.contact {
    display: flex;
}

.contact div {
    flex: 1;
    padding: 10px;
}

.contact p {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact input {
     width: 30rem;
}

.actions {
    display: flex;
    flex-direction: column;
}

.actions input {
    width: 5rem;
    padding: 0.5rem;
    cursor: pointer;
}

.form p, .data p {
    margin: 20px auto;
}

.data ul li {
    list-style: none;
}