* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
  height: 100%;
  background-color: #EEF2F1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

header, footer {
  padding: 10px;
  text-align: center;
  font-weight: 400;
}

main, section {
  flex: 1; 
}

main h2 {
  color: #102e4a;
}